Solution.BackEnd/API.W/obj/
Solution.BackEnd/API/obj/
Solution.BackEnd/BS/obj/
Solution.BackEnd/DAL.EF/obj/
Solution.BackEnd/DAL.Repository/obj/
Solution.BackEnd/DAL/obj/
Solution.BackEnd/DO/obj/
Solution.BackEnd/API.W/bin/
Solution.BackEnd/API/bin/
Solution.BackEnd/BS/bin/
Solution.BackEnd/DAL.EF/bin/
Solution.BackEnd/DAL.Repository/bin/
Solution.BackEnd/DAL/bin/
Solution.BackEnd/DO/bin/
